.container {
    position: relative;
    padding: 10px 0;
    height:calc(100vh - 125px - 4em);
}
.cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    ;
    overflow-y: scroll;
    height: 100%;
    width:85vw;
}

.notFound {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}