.box {
    padding: 10px 15px;
  }
  
.box select {
  width: 13vw;
  padding: 10px 10px;
  background-color: black;
  color: white;
  border: none;
  font-size: 0.8em;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
}

.box select:hover {
  cursor: pointer;
}
